# ORM y base de datos
sqlalchemy
pymysql  # MySQL driver compatible con SQLAlchemy

# Seguridad 
bcrypt  # Para cifrado de contraseñas

# Validacion de Tokens de forma Segura 
python-jose[cryptography]  # para los Tokens JWT

fastapi 
uvicorn 
# "fastapi[standard]"
requests 
pydantic-settings 